/* general settings */

html {
    font-size: 18px; /* base font size is 10 px high */
    font-family: 'Ropa Sans', sans-serif;
    background-color: white;
}

p {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}

.description {
    color: dimgray;
    font-size: 17px;
    margin-bottom: -5px;
}

figure {
    width: 31%;
    display: inline-block;
    margin: 1%;
    align-content: center;
}

figcaption {
    text-align: center;
    color: gray;
    font-weight: lighter;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: dimgray;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: darkgray;
}

li {
    display: inline-block;
    margin: 0 30px;
}


/* sections */

body {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    /*padding: 0 20px 20px 20px;*/
}

main {
    margin-bottom: 50px;
}

nav {
    margin-bottom: 20px;
}

div {
    margin-bottom: 0px;
}

footer {
    clear:both;
}



/* headers */

h1 {
    font-size: 70px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

h2 {
    font-size: 60px;
    text-align: center;
    color: dimgray;
    margin: 10px 0;
}

h3 {
    font-size: 50px;
    color: black;
    
}


/* homepage specific */

#banner {
    padding: 50px 0 20px 0;
}

.description {
    color: dimgray;
    font-size: 17px;
    margin-bottom: -5px;
}

.subtext {
    font-size: 15px;
    color: gray;
    margin: -15px;
}

/* experience page specific */

.crop {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.crop img {
    width: 270px;
    height: 400px;
    margin: -50px 0 0 0;
    display: block;
    text-align: center;
}

/* drop-down menus */
.dropdown {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0;
}

.tab {
    position: relative;
    display: inline;
    margin-bottom: 1px;
    width: 75%;
    color: #fff;
    overflow: hidden;
}
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
label {
    position: relative;
    display: block;
    background: #16a085;
    font-weight: bold;
    font-size: 40px;
    font-variant-caps: all-small-caps;
    line-height: 1.5;
    cursor: pointer;
}
.sub label {
    background: gray;
    font-size: 30px;
}
.tab-content {
    max-height: 0;
    overflow: hidden;
    background: #1abc9c;
    -webkit-transition: max-height .6s;
    -o-transition: max-height .6s;
    transition: max-height .6s ;
}
.main .tab-content {
    background: #3498db;
}
.sub .tab-content {
    background: lightgray;
}
.tab-content p {
    margin: 5px;
    font-size: 15px;
}
input:checked ~ .tab-content {
    max-height: 30em;
}
label::after {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    display: block;
    text-align: center;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}
input[type=radio] + label::after {
    content: "+";
}
input[type=radio]:checked + label::after {
    transform: rotate(135deg);
}