/* general settings */

html {
    font-size: 18px; /* base font size is 10 px high */
    font-family: 'Play', sans-serif;
    background-color: white;
}

p {
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    line-height: 2;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}

.description {
    color: dimgray;
    font-size: 17px;
    margin-bottom: -5px;
}

figure {
    width: 31%;
    display: inline-block;
    margin: 1%;
    align-content: center;
}

figcaption {
    text-align: center;
    color: gray;
    font-weight: lighter;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: dimgray;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: darkgray;
}

li {
    display: inline-block;
    margin: 0 30px;
}


/* sections */

body {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    /*padding: 0 20px 20px 20px;*/
}

main {
    margin-bottom: 50px;
}

nav {
    margin-bottom: 20px;
}

div {
    margin-bottom: 0px;
}

footer {
    clear:both;
}



/* headers */

h1 {
    font-size: 60px;
    color: #aeff72; 
    background: url(../images/half-color.png) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 10px 0px -5px 0px;
}

h2 {
    font-size: 60px;
    text-align: center;
    color: dimgray;
    margin: 10px 0;
}

h3 {
    font-size: 50px;
    color: black;
    
}


/* homepage specific */

#banner {
    padding: 50px 0 20px 0;
}

.description {
    color: dimgray;
    font-size: 17px;
    margin-bottom: -5px;
}

.subtext {
    font-size: 15px;
    color: gray;
    margin: -15px;
}

/* experience page specific */

.circular-portrait {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
}
.circular-portrait img {
    width: 100%;
    height: auto;
    margin-top: -80px;
}
#left-bar {
    margin: 200px 0px 0px 60px;
    float: left;
}
#right-bar {
    float: right;
    margin: 200px 60px 0px 0px;
}

#name {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 10px 0px 30px 0px;
}

.personal-statement {
    width: 65%;
    height: auto;
    display: inline-block;
    background: white;
    border-style: groove;
    border-color: #224b4b;
    box-shadow: -5px 3px #6aedef;
    border-width: 3px;
    padding: 10px 15px;
    margin-bottom: 20px;
}
.personal-statement p {
    font-size: 17px;
}

/* drop-down menus */
.dropdown {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0;
}

.tab {
    position: relative;
    display: inline;
    margin-bottom: 1px;
    width: 75%;
    color: #fff;
    overflow: hidden;
}
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
label {
    position: relative;
    display: block;
    background: #16a085;
    margin: 0px -18px;
    font-weight: bold;
    font-size: 40px;
    font-variant-caps: all-small-caps;
    line-height: 1.5;
    cursor: pointer;
}
.main label {
    background-image: url(../images/dropdown-bar-main.png);
    color: #224b4b;
    text-shadow: -2px 1px white;
}
.sub label {
    color: white;
    text-shadow: none;
    
    background: #224b4b;
    font-size: 30px;
}
.tab-content {
    max-height: 0;
    overflow: hidden;
    background: #1abc9c;
    -webkit-transition: max-height .6s;
    -o-transition: max-height .6s;
    transition: max-height .6s ;
}
.main .tab-content {
    background: #3498db;
}
.sub .tab-content {
    background: lightgray;
}
.tab-content p {
    margin: 5px;
    font-size: 15px;
}
input:checked ~ .tab-content {
    max-height: 30em;
}
label::after {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    display: block;
    text-align: center;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}
input[type=radio] + label::after {
    content: "+";
}
input[type=radio]:checked + label::after {
    transform: rotate(135deg);
}